<%- include ('partials/navbar.ejs') %> 
<%- include ('partials/header.ejs') %>


<div class="container2" style="margin: auto; margin-top: 20px;">
    <div class="circle-ai"></div>
    <h1>Automatização</h1>

    <!--Obs trocar hortalisas pelas informações do banco de dados-->
    
    <form action="/hortalicas" method="POST">
</div>
  <div class="options">
    <button type="submit" class="btn btn-primary" id="btn-secundary" style="margin-left: 10px;"><i class="bi bi-arrow-up-left-circle"></i>Manual</button>
    <button type="submit" class="btn btn-primary" id="btn-secundary" style="margin-left: 10px;"><i class="bi bi-droplet-fill"></i>+ <i class="bi bi-tree-fill"></i>Nível de água + Fertilização</button>
    <button type="submit" class="btn btn-primary" id="btn-secundary" style="margin-left: 10px;"><i class="bi bi-droplet-fill"></i>Nível de água</button>
    <button type="submit" class="btn btn-primary" id="btn-secundary" style="margin-left: 10px;"><i class="bi bi-tree-fill"></i>Fertilizante</button>

  </div>
</form>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
  .dashboard {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-content: space-around;
    padding: 20px;

  }

  .card3 {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    width: 500px;
  }

  .title {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .title2{
    color: black !important;  
    display: flex;
    justify-content: right;
    font-size: 2rem;
    font-weight: bolder;
    font-family: "Roboto Flex";
  }

  .indicator {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }

  .arrow-down {
    color: orange;
  }

  .arrow-up {
    color: yellow;
  }

  canvas {
    max-width: 100%;
  }
</style>
</head>
<body>

<div class="dashboard">

  
  <div class="card3">
    <p class="title2">Aplicação com IA</p>
    <canvas id="gaugeChart"></canvas>
    <p style="font-size: 100px; font-weight: bold; transform: translate(130px,-100px);">50%</p>
    <div class="informacoes">
      <div class="legenda">
        <div class="informacao1"></div><span>Aplicação 100%</span>
      </div>
      <div class="legenda">
        <div class="informacao2"></div><span>Aplicação 50%</span>
      </div>
      <div class="legenda">
        <div class="informacao3"></div><span>Aplicação 0%</span>
      </div>
    </div>
    
    
  </div>


  <div class="card3">
    <p class="title2">Hortaliças</p>
    <canvas id="barChart"></canvas>
  </div>

  
  <div class="card3">
    <p class="title2">Grafico em tempo real</p>
    <canvas id="pieChart"></canvas>
    <div class="informacoes">
      <div class="legenda">
        <div class="informacao4"></div><span>Sensor Ativo (100%)</span>
      </div>
      <div class="legenda">
        <div class="informacao5"></div><span>Irrigação Moderada (50%)</span>
      </div>
      <div class="legenda">
        <div class="informacao6"></div><span>Sem Irrigação (0%)</span>
      </div>
      <div class="legenda">
        <div class="informacao7"></div><span>Erro de Comunicação</span>
      </div>
    </div>
    
  </div>

</div>

<script>
  
  new Chart(document.getElementById('gaugeChart'), {
    type: 'doughnut',
    data: {
      labels: ['Used', 'Remaining'],
      datasets: [{
        data: [48048, 93332 - 48048],
        backgroundColor: ['#C59201', '#555'],
        borderWidth: 0
      }]
    },
    options: {
      rotation: -90,
      circumference: 180,
      cutout: '70%',
      plugins: {
        legend: { display: false },
        tooltip: { enabled: false }
      }
    }
  });


  new Chart(document.getElementById('barChart'), {
    type: 'bar',
    data: {
      labels: ['Hortaliças', 'Execuções', 'Desempenho', 'Inicialização'],
      datasets: [{
        label: 'Hours',
        data: [56, 164, 36, 40, 144],
        backgroundColor: ['#028a66', '#03f685', '#64ecc6', '#003b2b']
      }]
    },
    options: {
      indexAxis: 'y',
      plugins: {
        legend: { display: false }
      },
      scales: {
        x: { beginAtZero: true }
      }
    }
  });


  new Chart(document.getElementById('pieChart'), {
    type: 'pie',
    data: {
      labels: [],
      datasets: [{
        data: [60, 13.3, 20, 6.7, 0],
        backgroundColor: ['#028a66', '#03f685', '#64ecc6', '#003b2b']
      }]
    },
    options: {
      plugins: {
        legend: {
          position: 'bottom',
          labels: {
            color: '#fff'
          }
        }
      }
    }
  });
</script>





<%- include ('partials/footer.ejs') %>