<%- include ('partials/navbar.ejs') %>
<%- include ('partials/header.ejs') %> 
<!--importando partials-->


<div class="container2">
    <div class="circle-hort"></div>
    <h1>Hortaliça</h1>
    
    <form action="/hortalicas" method="POST" class="formHortalicas">
      <select class="form-select" name="tipo_hortalica" required>
        <option value="" disabled selected>Selecione</option>
        <option value="Alface">Alface</option>
        <option value="Batata">Batata</option>
        <option value="Tomate">Tomate</option>
        <option value="Cebola">Cebola</option>
        <option value="Cenoura">Cenoura</option>
        <option value="Abobora">Abóbora</option>
        <option value="Repolho">Repolho</option>
        <option value="Chuchu">Chuchu</option>
        <option value="Batata-doce">Batata-doce</option>
      </select>
    
      <button type="submit" class="btn btn-primary" id="btn-secundary" style="margin-left: 10px;">Salvar</button>
    </form>
    
    
</div>

<%- include ('partials/footer.ejs') %>
