body {
  margin: 0;
  padding: 0;
  height: 100vh;
  line-height: 30px;
  background-image: url(/images/fundo.png);
  background-position: center;
  background-size: cover;
}

#nav-bar {
  z-index: 1000;
  background-color: #056B49 !important;
  border-bottom: 4px solid #003b2b;
}
a{
  color: white !important;
  border-radius: 10px;
  margin-right: 10px;
}

a:hover{
  background-color: #003b2b;
  border-radius: 10px;
  transition: 40ms;
}

.img-nav{
  margin-right: 20px;
}

#nav-bar-index{
  z-index: 1000;
  background-color: #056B49 !important;
  border-bottom: 4px solid #003b2b;
  margin-left: 300px;
}


.menu {
  display: block;
  width: 300px;
  height: 100vh;
  background-color: #065B43;
  border-right: 4px solid #003b2b ;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
}

.menu-top{
  border-bottom: 4px solid #003b2b;
  padding-left: 10px;
}

.imagem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.imagem > img {
  width: 150px;
  max-height: 150px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 2rem;
  color: white;
}

.p2 {
  font-size: 1rem;
}

#container-buttons {
  padding: 5px;
}

#btns {
  background-color: #08916a;
  border: none;
  margin-bottom: 20px;
  width: 100%;
}

#btns:hover {
  background-color: #03f685;
}

i {
  padding-right: 10px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 10px;
  margin-top: 20vh;
  margin-left: 400px;
  width: calc(100% - 450px);
  box-sizing: border-box;
  align-items: start;
 
  
}

@media (max-width: 768px) {
  .menu {
    width: 100%;
    height: auto;
    position: relative;
  }

  .card {
 
    border: none;
    width: 100%;
    margin-right: 0;
    width: 18rem;
    margin: 0;
    
  }
  
  .text {
    font-size: 1.5rem;
  }

  #container-buttons {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .text {
    font-size: 1.2rem;
  }

  .imagem > img {
    width: 120px;
    max-height: 120px;
  }
}

.card-img-top {
  height: 230px;
}


.card:hover {
  /*
  transform: translate(0px, -20px);
  transition: 1s;
  */
}

#btn-secundary {
  display: block;
  justify-content: center;
  background-color: #003b2b;
  font-weight: bold;
  border: none;
  margin-top: 10px;
}

#btn-secundary:hover {
  background-color: #08916a;
}

.wrapper-containers {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap; 
  /* margin-left: 300px;  Se quiser manter afastado do menu lateral */
  padding: 20px;
  margin-top: 20vh;
}

.container2 {
  width: 350px; /* Tamanho fixo para os cards lado a lado */
  height: auto; /* Altura automática */
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
  
}

.circle-hort {
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 100%;
  background-image: url(/images/hortlogo.png);
  background-position: center;
}

.formHortalicas {
  display: flex;
  flex-direction: column; /* Campos um abaixo do outro */
  width: 400px;
  padding: 30px;
  background-color: #fff;
  border-radius: 40px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
}

.circle-fert {
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 100%;
  background-image: url(/images/fertlogo.png);
  background-position: center;
  background-repeat: no-repeat;
}

.circle-water {
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 100%;
  background-image: url(/images/waterlogo.png);
  background-position: center;
  background-repeat: no-repeat;
}

.circle-ai{
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 100%;
  background-image: url(/images/ailogo.png);
  background-position: center;
  background-repeat: no-repeat;
}

th, td {
  padding: 10px;
}